.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.4em;
    background-color: rgb(203, 238, 252);
}
.logo{
    display: flex;
    align-items: center;
    width: 80px;
    height: 50px;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  
}
.navbar li {
    cursor: pointer;
    border-radius: 10px;
}
.navbar li:hover > a{
    cursor: pointer;
    border-radius: 10px;
    
    color: white;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    padding: .5em .3em;
    font-weight: bold;
  
}